* {
  margin: 0;
  padding: 0;
}
.header {
  height: 400px;
  width: 100vw;
  background-image: url(https://media-exp1.licdn.com/dms/image/C561BAQFOGM8S6gp06w/company-background_10000/0/1638096506282?e=2159024400&v=beta&t=IAyIF6emIIJ1CzM85Gi_RWwyYubPKYQ27NoaQNcHg3g);
  /* background-image: url(https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.slogen {
  font-size: 29px;
  text-align: left;
  position: absolute;
  top: 14%;
  left: 11%;
  height: 35%;
  width: 48%;
  color: #4c98e0;
  background-color: #ffffff00;
}

.slogen h1 {
  color: #2d6edf;
}
.slogen h2 {
  color: #15233c;
}
.bookingContainer {
  width: 78vw;
  position: relative;
  height: 171px;
  top: 280px;
  left: 11%;
  border-radius: 12px;
  background-color: #00203c;
  box-shadow: 5px 6px 12px #3c3a3a;
}

.flightType {
  margin-left: 5%;
  width: 22%;
  display: flex;
  height: 20%;
  margin-bottom: 2%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.flightForm {
  display: flex;
  width: 100%;
  height: 59%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.formInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.formInputs input,
.formInputs input[type="number"] {
  height: 34px;
  width: 104%;
  color: #055af5;
  font-size: 13px;
  border: 3px solid #838383;
}
.formInputsSearch,
.formInputsSearchDisable {
  position: absolute;
  width: 18%;
  top: 75%;
  left: 82.5%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.formInputsSearch input {
  width: 90%;
  cursor: pointer;
  background-color: #4c98e0;
  height: 34px;
  color: #15233c;
  border-radius: 9px;
  border-color: #dee2e9 #f9eded;
  font-size: 142%;
}

.formInputsSearchDisable input {
  width: 90%;
  cursor: pointer;
  background-color: #6a6b6b;
  height: 34px;
  color: #464646;
  border-radius: 9px;
  border-color: #dee2e9 #f9eded;
  font-size: 142%;
}
.formContainer {
  background-color: aliceblue;
}
.suggestionorigin,
.suggestiondestination {
  background-color: #efefef;
  width: 106%;
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 18%;
  overflow: auto;
  border: antiquewhite;
}

.suggestionorigin,
.suggestiondestination:hover {
  background-color: #ffffff;
}

.main {
  display: flex;
  height: 400px;
  width: 100vw;
  background-color: rgb(169, 174, 179);
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
.cheapFlights {
  margin-left: 25rem;
  margin-bottom: 3rem;
}
.cheapFlights h2 {
  margin-top: -7rem;
  font-size: xx-large;
}
.cheapFlights hr {
  width: 42%;
  margin-left: 35%;
  height: 6px;
  background-color: #03a9f4;
  border: none;
}

.destinationImagesContainer {
  position: absolute;
  display: flex;
  width: 76%;
  height: 224px;
  margin-left: 14%;
  margin-top: 5%;
  flex-direction: row;
  justify-content: space-around;
}

.destanation {
  width: 28%;
  height: 59%;
  margin-top: 8%;
}
.destanation img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  border-bottom: 89px solid white;
}
.footer {
  height: 200px;
  width: 100vw;
  background-color: rgb(11, 53, 82);
}
