.bookingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1200px;
  width: 100vw;
  background-color: burlywood;
}
.ticketingProcess {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
  background-color: cadetblue;
}
.totalDetails {
  display: flex;
  height: 1000px;
  width: 100vw;
  background-color: rgb(18, 9, 70);
}
.flightDetails {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 170vw;
  background-color: darkgoldenrod;
  align-items: center;
  justify-content: space-around;
}
.flightDetails button {
  width: 23%;
  height: 2rem;
  margin-left: 29rem;
}
.currentFlight {
  display: flex;
  margin-left: 2rem;
  height: 45%;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 9px;
}
.bookingFlightDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.travelerDetails {
  margin-left: 2rem;
  height: 45%;
  width: 90%;
  background-color: rgb(11, 184, 155);
}
.pricing {
  height: 1000px;
  width: 77%;
  background-color: rgb(124, 42, 255);
}

.footer {
  height: 200px;
  width: 100vw;
  background-color: rgb(8, 207, 25);
}
