.bookingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1200px;
  width: 100vw;
  background-color: burlywood;
}
.ticketingProcess {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
  background-color: cadetblue;
}
.totalDetails {
  display: flex;
  height: 1000px;
  width: 100vw;
  background-color: rgb(18, 9, 70);
}
.flightDetails {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 170vw;
  background-color: darkgoldenrod;
  justify-content: space-around;
}
.currentFlight {
  height: 45%;
  width: 90%;
  background-color: rgb(89, 184, 11);
}
.travelerDetails {
  height: 45%;
  width: 90%;
  background-color: rgb(11, 184, 155);
}
.pricing {
  height: 1000px;
  width: 20%;
  background-color: rgb(124, 42, 255);
}

.footer {
  height: 200px;
  width: 100vw;
  background-color: rgb(11, 53, 82);
}
