.FlightsResultHeader {
  position: relative;
  display: flex;
  height: 199px;
  width: 100vw;
}
.FlightDetailsComponent {
  position: absolute;
}
.FlightsResultContainer {
  height: 1200px;
  width: 100vw;
  background-color: #dadada;
}
.resultsForRoudTrip {
  display: flex;
  width: 62%;
  height: 1152px;
  flex-direction: column;
  margin-top: 3rem;
  background-color: #ff9911;
}

.resultsForOneWay {
  display: flex;
  width: 62%;
  height: 1200px;
  flex-direction: column;
  margin-top: 3rem;
  background-color: #ff9911;
}
.footer {
  height: 380px;
  width: 100vw;
  background-color: rgb(11, 53, 82);
}
