
.routing {
    display: flex;
    height: 55px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
  }
  .logo img {
    width: 37%;
    margin-left: 2rem;
  }
  .links a {
    color: #15233c;
    margin-right: 24px;
    font-size: 98%;
    cursor: pointer;
  }
  .login a {
    cursor: pointer;
    border: 1px solid black;
    color: #15233c;
    text-decoration: none;
    background-color: rgb(69, 166, 252);
    text-align: center;
  }