.processList {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid darkgray;
}
  
  .processList li {
    display: flex;
    width: 13%;
    flex-direction: column;
    align-items: center;
  }
  
  .processList li a {
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 18px;
    width: 15%;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
  }
  .line{
    width: 12%;
    border-radius: 13%;
    height: 3%;
    background-color: #cecece;
}