.App {
  text-align: center;
  background-color:#dadada;
}

.routing {
  display: flex;
  height: 30px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}
.logo img {
  margin-top: 4px;
  margin-left: 2px;
  width: 97%;
  height: 61%;
}
.links a {
  color: #15233c;
  margin-right: 24px;
  font-size: 98%;
  cursor: pointer;
}
.login a {
  cursor: pointer;
  border: 1px solid black;
  color: #15233c;
  text-decoration: none;
  background-color: rgb(69, 166, 252);
  text-align: center;
}
.loginBtn {
  top: 2px;
  right: 4px;
  position: absolute;
  background-color: darkcyan;
  color: aliceblue;
  width: 54px;
  border: 1px solid #100c26;
  height: 15%;
}
